# Notas

In [1]:
d = ("Lu", "Ma", "Mi", "Ju", "Vi", "Sa", "Do")
print(d[3])

Ju

In [2]:
d[2]

'Mi'

In [3]:
m1 = ("Toy Story", 1995, "01:21", ["animacion", "comedia"])
(nombre, anno, duracion, categorias) = m1
print(nombre)
print(categorias)

Toy Story
['animacion', 'comedia']

In [8]:
valor1 = m1[1]
valor2 = m1[0]
m1[0], m1[1] = valor1, valor2

TypeError: 'tuple' object does not support item assignment

In [9]:
value1 = 40
value2 = 20

value1, value2 = value2, value1

In [10]:
nombre, anno = anno, nombre

In [11]:
m1

('Toy Story', 1995, '01:21', ['animacion', 'comedia'])

In [13]:
print(nombre)
print(anno)

1995
Toy Story

In [2]:
categorias = ['animacion',  'comedia', 'infantil' ]
categorias

['animacion', 'comedia', 'infantil']

In [3]:
tupla = (2.0, 4.7, 6.8, 5.1)

In [4]:
lista = []
for nota in tupla:
    lista.append(nota)
lista[0] = 3.2

lista

[3.2, 4.7, 6.8, 5.1]

In [5]:
lista = []
for i in range(len(tupla)):
    lista[i] = tupla[i]
lista[0] = 3.2


lista

IndexError: list assignment index out of range

In [6]:
clientes = ['Alicia', 'Bob', 'Carlos', 'David']
clientes_nuevos = ('Eva', 'Fabricio', 'Gloria')

In [9]:
for cliente in clientes_nuevos:
    clientes.append(cliente)

In [10]:
clientes

['Alicia', 'Bob', 'Carlos', 'David', 'Eva', 'Fabricio', 'Gloria']

In [11]:
tupla = (0,1,2,2,2,4,2,1,2,4,4,4,0,0)

In [12]:
lista = []
for i in range( max(tupla) ):
    lista.append( tupla.count(i) )

lista

[3, 2, 5, 0]

In [13]:
lista = []
i = 0
while i <= max(tupla):
    for j in range(tupla.count(i)):
        lista.append(i)
    i += 1

lista

[0, 0, 0, 1, 1, 2, 2, 2, 2, 2, 4, 4, 4, 4]

In [15]:
i = 2
print(range(tupla.count(i)))

range(0, 5)

In [16]:
tupla.count(6)

0

In [18]:
m1 = ('Toy Story', 1995, '01:21', ['animacion', 'comedia'])

In [19]:
m1[3].append( 'infantil' )
print(m1)

('Toy Story', 1995, '01:21', ['animacion', 'comedia', 'infantil'])

### Recursos:
https://aprendepython.es/core/datastructures/tuples/

# TODO: Resolver ejercicios de la pÃ¡gina web de los recursos